<h1>All feeds</h1>

<table class='bordered-table zebra-striped'>
  <% @feeds.each do |feed| %>
    <tr>
      <td><%= link_to feed.name, feed_news_items_path(feed) %></td>
      <td><%= link_to feed.sms_identifier || '', feed_news_items_path(feed) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @feeds %>

<div class="actions">
  <%= link_to 'Add a new feed', new_feed_path, :class => 'btn' %>
</div>
