<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Mobile Elearning</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><%= link_to 'Feeds', feeds_path %></li>
      </ul>
    </div>
  </div>
</div>
